.odd {
    background-color: #FF9999;
    font-family: 'Verdana', sans-serif;
}

#number01 {
    color: #66b2ff;
    font-size: 36px;
}

.cool {
    font-size: 24px;
}

#number02 {
    background-color: #9fc;
    font-size: 24px;
    font-weight: bold;
    
}